/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-65-per {
  width: 65%;
}
.w-25-per {
  width: 25%;
}

.column {
  float: left;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.mr-20-px{
    margin-right: 20px;
}
.div-separater{
    
}
.div-header{
    font-size: 26px;
    font-weight: 500;
}

.border-bottom-1px{
    border-bottom: 1px solid #808080;
}
.left-border-1px{
  border-left: 1px solid #808080;
}
.f-14-px{
  font-size: 14px;
}
.left-align{
  float: left;
}
.right-align{
  float: right;
}